<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Log to Console -->
		<target xsi:type="Console" name="logconsole" layout="${longdate} ${level} ${message} ${exception}" />

		<!-- Log to File -->
		<target xsi:type="File" name="logfile" fileName="logs/${shortdate}.log" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log everything to the console -->
		<logger name="*" minlevel="Trace" writeTo="logconsole" />

		<!-- Log warnings and above to the file -->
		<logger name="*" minlevel="Warn" writeTo="logfile" />
	</rules>
</nlog>